<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon.png" type="image/png">
    <title>TP Touiteur</title>

    <link rel="stylesheet" href="/static/css/style.css">
  </head>

  <body>

    <nav>
      <a href="/">Accueil</a>
      <a href="/books">Liste des livres</a>
    </nav>

    <h1>Liste des livres</h1>
    <ul></ul>
    
    <script src="/static/js/get-books.js"></script>
  </body>
</html>