doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="/static/favicon.png" type="image/png")
    title TP Touiteur
    link(rel="stylesheet" href="/static/css/style.css")
    
  body
    
    nav
      a(href="/") Accueil
      a(href="/users") Liste des utilisateurs
    
    h1 Bienvenue sur mon site
    p Aut voluptatem non assumenda deserunt quae quis. Voluptates eveniet ut velit tempore doloribus. Et ut cumque numquam pariatur error. Minus omnis aliquid quas. Est id officiis quaerat voluptatem distinctio. Est vel qui.