doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="/static/favicon.png" type="image/png")
    title TP Touiteur
    link(rel="stylesheet" href="/static/css/style.css")
    
  body
    nav
      a(href="/") Accueil&nbsp;
      a(href="/users") Liste des utilisateurs

    h1 Liste des utilisateurs
    ul
      if users
        each user in users
          li= `${user.username} (${user.email})`