.touite-wrapper {
    display: flex;
    margin-top: 30px;
    justify-content: center;
  }
  
  .touite-form {
    margin: 30px;
    padding: 3px 10px 10px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
  }
  
  .touite-form textarea {
    width: 90%;
    resize: none;
    padding-left: 5px;
  }
  
  .touite-form button {
    margin-top: 20px;
  }
  
  .touite-form .errors {
    list-style: none;
    color: red;
    font-weight: bold;
  }
  
  #touite-list-container {
    display: flex;
    margin-right: 30px;
    justify-content: flex-start;
    flex-flow: column nowrap;
    min-width: 200px;
  }
  
  .touite {
    display: flex;
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    gap: 8px;
    border-radius: 5px;
    flex-flow: column;
    text-align: center;
  }
  
  @media screen and (max-width: 829px) {
  }
  
  .touite .avatar {
    padding: 2px;
    align-items: center;
  }
    .touite .avatar img {
      margin-right: 20px;
    }
    .touite .avatar span {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.7rem;
    }
  .touite .icones {
    place-self: center;
  }
    .touite .icones > * {
      cursor: pointer;
    }
    .touite .icones > a {
      margin-right: 10px;
      color: #444;
    }
  .touite .content {
  
    font-size: 1.1rem;
    overflow: hidden;
    white-space: wrap;
    text-overflow: fade;
  }
  :root {
    --primary-color: hsl(189, 68%, 50%);
    --secondary-color: hsl(293, 83%, 55%);
    --bg-color: hsl(36, 43%, 93%);
  }
  
  .row-container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
  .stats-count {
    display: flex;
    flex-flow: column;
    padding-bottom: 5px;
  }
  
  .touites-container{
    display: flex;
    flex-flow: column;
    justify-content:space-between;  
    width: 60%;
    margin-bottom: 50px;
  }
  
  .touites {
    margin-top:50px;
    width: 100%;
    height: min-content;
    margin-left: 60px;
    padding: 20px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    position: relative;
  }
  .touites-content {
    display: flex;
    padding: 40px;
    font-size: 27px;
    text-align: justify;
    flex-flow: column;
  }
  .touites-content .bt-touite {
    padding: 10px 35px;
    color: white
  }
  .logo-username {
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    font-weight: bold;
  }

  .modify-delete {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 3%;
    top: 37%;
  }
  .modify-delete a {
    padding: 10px;
    font-size: 25px;
    color: black;
  }
  body {
    font-family: sans-serif;
    height: 100vh;
    min-width: 580px;
    background: var(--bg-color);
    color: #444;
    margin: 0;
    padding: 0;
    flex-flow: column;
    display: flex;
  }
  
  button {
    outline: none;
  }
  
  img:not(.logo img) {
    border-radius: 50%;
    object-fit: cover;
    width: 50%;
  }
  
  .touites img:not(.logo img) {
    border-radius: 50%;
    object-fit: cover;
    width: 60px;
    margin-right: 20px;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .profile {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }
  .touite-update-form textarea{
    width: 90%;
    resize: none;
    padding-left: 5px;
  }
  .touite-update-form {
    width: 100%;
  }
  .hide {
    display: none;
  }
  .show {
    display:inline;
  }