:root {
  --primary-color: hsl(189, 68%, 50%);
  --secondary-color: hsl(293, 83%, 55%);
  --bg-color: hsl(36, 43%, 93%);
}

body {
  display: flex;
  flex-flow: column nowrap;
  font-family: sans-serif;
  height: 100vh;
  min-width: 580px;
  background: var(--bg-color);
  color: #444;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
}

img:not(.logo img) {
  border-radius: 50%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: white;
}