.touite-wrapper {
  display: grid;
  grid-template-areas: "profile touites";
  grid-template-columns: 400px;
  margin-top: 30px;
}

.touite-form {
  margin: 30px;
  padding: 3px 10px 10px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
}
.touite .bt-follow{
    position: absolute;
    top: 43%;
    left: 0.7%;
    text-align: center;
    text-size-adjust: 10px;
    font-size: 18px;
    width: 105px;
}
.follow-container {
  height: 234px;
    position: absolute;
}
.touites-content .touite-form {
  display: flex!important;
  flex-flow: column!important;
  align-items: center;
}

.touites-content .touite-form input{
  color: white !important;
  margin-top: 10px;
  width: 30%
}

.touite-form textarea {
  width: 90%;
  resize: none;
  padding-left: 5px;
}

.touite-form button {
  margin-top: 20px;
}

.touite-form .errors {
  list-style: none;
  color: red;
  font-weight: bold;
}
.avatarName {
  display: flex;
}
.avatarName p {
  margin-left: 10px;
  font-weight: bold;
}
#touite-list-container {
  grid-area: touites;
  display: flex;
  margin-right: 30px;
  justify-content: flex-start;
  flex-flow: column nowrap;
  min-width: 200px;
}

.touite {
  display: flex;
  flex-flow: column;
  background: #fff;
  margin-bottom: 10px;
  padding: 10px;
  gap: 8px;
  border-radius: 5px;
  position: relative;
}
.icones {
  position: absolute;
    display: flex;
    flex-flow: column;
    right: 3%;
    top: 25%;
    height: 111px;
    justify-content: space-around;
}
@media screen and (max-width: 829px) {
  .touite {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  "avatar icones"
                          "touite touite";
  }
}
.modify-delete {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 3%;
  top: 37%;
}
.modify-delete a {
  padding: 10px;
  font-size: 25px;
  color: black;
}

.touite .avatar {
  grid-area: avatar;
  padding: 2px;
  display: flex;
  align-items: center;
}
  .touite .avatar img {
    margin-right: 20px;
  }
  .touite .avatar span {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.7rem;
  }
.touite .icones {
  place-self: center;
}
  .touite .icones > * {
    cursor: pointer;
  }
  .touite .icones > a {
    margin-right: 10px;
    color: #444;
  }
.touite .content {
  font-size: 1.1rem;
  overflow: hidden;
  white-space: wrap;
  text-overflow: fade;

}
.touite-text {
  font-weight: lighter!important;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin-top: 43px;
  word-break: break-all;
  max-width: 90%
}
.touites-content textarea{
  font-size: 20px; 
}
.likeBtn button{
  position: absolute;
  color: black;
  top: 74%;
  right: 1%;
  font-size: 1em;
  margin: 5px;
  background: lightblue;
}
.unlikeBtn button{
  position: absolute;
  color: white;
  top: 74%;
  right: 1%;
  font-size: 1em;
  margin: 5px;
  background: grey;
}
.likeBtn button:hover, .unlikeBtn button:hover{
  cursor: pointer;
}
.likeBtn .fa-heart{
  position: absolute;
  top: 78%;
  right: 11%;
  font-weight: lighter;
}
.unlikeBtn .fa-heart{
  position: absolute;
  top: 78%;
  right: 13%;
  font-weight: lighter;
}
.likeBtn i, .unlikeBtn i {
  margin-left: 5px;
}