.profile-container {
 
  margin-top:50px;
  width: 250px;
  height: 280px;
  margin-left: 60px;
  padding: 20px;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  gap: 30px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.followBtn
{
  margin-bottom: 10px;
}
.profile-container a {
  background: var(--secondary-color);
  padding: 10px 0px;
  border-radius: 20px;
  font-weight: bold;
  width: 130px;
  display: inline-block;
}
