extends ../layout

block content
    div.profile-container
        
        div
            img(src="/static/img/dimitri.jpg")
        div
        div.followBtn
            a(href="") Follow

    div.touite-wrapper
       
        div.touite
            div.touite-form
                textarea(name="", cols="30", rows="10") 
                button Send
            div.avatar
                img(src="/static/img/dimitri.jpg")
                span
            div.icones
                a
        div.content
        div.touite
            div.touite-form
                textarea(name="", cols="30", rows="10") 
                button Send
            div.avatar
                img(src="/static/img/dimitri.jpg")
                span
            div.icones
                a
        div.content