extends ../layout

block content
  if signup
    h1 Formulaire d'inscription
  else
    h1 Formulaire de connexion

  form(method="post" action=(signup?"/users/signup":"/users/signin"))
    if signup
      div
        label Pseudo
        input(type="text" name="username" autofocus)
    div 
      label Email
      input(type="email" name="email" autofocus)
    div
      label Mot de passe
      input(type="password" name="password")
    if errors
      ul.errors
        each error in errors
          li= error
    div
      if signup
        button(type="submit") Créer mon profil
      else
        button(type="submit") Me connecter